<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>

    <script type="text/javascript" th:src="@{/js/filesaver.js}"></script>
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables-select/js/dataTables.select.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js}"></script>

    <script th:inline="javascript">
        $(document).ready($(function () {
            /*<![CDATA[*/
            //var sources = [[${sources}]];
            var types = [[${types}]];
            /*]]>*/

            var table = $('#calcLogTable').DataTable({
                scrollY: "calc(60vh - 240px)",
                scrollCollapse: false,
                paging: false,
                searching: true,
                info: false,
                columns: [
                    {"defaultContent": "", "width": "10%"},
                    {"data": "type", "width": "22%"},
                    // {"data": "number", "width": "15%"},
                    // {"data": "station", "width": "15%"},
                    {"data": "jmsCorrelationId", "width": "38%"},
                    {"data": "inboundTime", "width": "15%"},
                    {"data": "durationText", "width": "15%"}
                ],
                columnDefs: [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                language : {
                     "zeroRecords": " ",
                    "searchPlaceholder": "Поиск",
                    "search": "Поиск:"
                },
                dom: 't<"row col-sm-1 margin-top-sm"f>',
                style: 'single',
                select: true,
                "createdRow": function(row, data, dataIndex){
                    if (data.errorCode !== 0) {
                        $(row).css("color", "red");
                    }
                },
            });

            var loadCalculationLog = function(d) {
                $.ajax({
                    url: contextRoot + "api/calclog/" + d.id,
                    method: 'get',
                    data: {
                        format: $("#formatXml").is(":checked")
                    },
                    headers: {
                        "Accept" : "application/json"
                    },
                    success: function (result) {

                        $("#logTabFolder").removeClass("invisible");

                        filename = result.fileName;

                        $("#inXml").val(result.inboundXml);
                        $("#outXml").val(result.outboundXml);
                        $("#outText").val(result.outboundText);
                    }
                });
            };

            var filename;

            addDataTableRowListener(table,
                {
                    "select" : function (tr, t) {
                        var d = t.row(tr).data();
                        console.log("Загрузка лога расчета id=" + d.id);
                        loadCalculationLog(d);
                    },
                    "deselect" : function(tr, t) {
                        if (t.rows({selected: true}).count() === 0) {
                            $("#logTabFolder").addClass("invisible");
                        }
                    }
                }
            );

            addCounterToDataTable(table);

            var currentDate = new Date();
            var dateTimeEnd = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), currentDate.getHours() + 1);
            var dateTimeBegin = new Date(dateTimeEnd.getTime() - 24 * 60 * 60 * 1000);

            $("#datetime_begin").datetimepicker({
                todayHighlight: true,
                format: "dd.mm.yyyy hh:ii",
                language: 'ru',
                minView: 1,
                autoclose: true,
                weekStart: 1
            });
            $("#datetime_begin").datetimepicker('setDate', dateTimeBegin);

            $("#datetime_end").datetimepicker({
                format: "dd.mm.yyyy hh:ii",
                language: 'ru',
                minView: 1,
                autoclose: true,
                weekStart: 1
            });

            $("#datetime_end").datetimepicker('setDate', dateTimeEnd);

            $("#loadButton").click(function (e) {
                $(e.target).prop("disabled", true);

                var data = {};
                data.date_begin = $("#datetime_begin_text").val();
                data.date_end = $("#datetime_end_text").val();
                if ($("#typeDocument option:selected").val() !== "") {
                    data.type = $("#typeDocument option:selected").val();
                }

                $.ajax({
                    url: contextRoot + "api/calclog/",
                    method: 'get',
                    data: data,
                    success: function (result) {
                        for (var i = 0, ien = result.length; i < ien; i++) {
                            var t = types.find(function (x) {
                                return x.key === result[i].type;
                            });
                            if (t !== undefined) {
                                result[i].type = t.value;
                            }
                        }

                        table.clear();
                        table.rows.add(result).draw();
                    },
                    complete: function() {
                        $(e.target).prop("disabled", false);
                    }
                });
            });

            var saveXml = function(e) {
                var id = $(e.target).attr("id");
                var data;
                var sFileName;

                if (id === "inXmlButton") {
                    data = $("#inXml").val();
                    sFileName = filename + "_in.xml";
                } else if (id === "outXmlButton") {
                    data = $("#outXml").val();
                    sFileName = filename + "_out.xml";
                } else {
                    return;
                }

                // Convert the text to BLOB.
                var textToBLOB = new Blob([data], { type: 'text/plain' });

                saveAs(textToBLOB, sFileName);

                e.stopPropagation();
            };

            $("#inXmlButton").click(function (e) {
                saveXml(e);
            });

            $("#outXmlButton").click(function (e) {
                saveXml(e);
            });

            $("#formatXml").change(function() {
                var d = table.row( { selected: true } ).data();
                if (d !== undefined) {
                    loadCalculationLog(d);
                }
            });

        }));
    </script>

    <div class="display" style="height: calc(100vh - 190px)">

        <div class="page-header-name">Лог расчета</div>

        <div style="display: inline-flex; width: 100%; margin-bottom: -10px">
            <h5><span class="text-nowrap" style="margin-right: 5px">Период с</span></h5>
            <div class="form-group" style="flex-grow: 1; max-width: 300px">
                <div id="datetime_begin" class="input-group date">
                    <input id="datetime_begin_text" type="text" class="form-control"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <h5><span style="margin-right: 5px; margin-left: 5px">по</span></h5>
            <div class="form-group" style="flex-grow: 1; max-width: 300px">
                <div id="datetime_end" class="input-group date">
                    <input  id="datetime_end_text" type="text" class="form-control"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <h5><span class="text-nowrap" style="margin-right: 5px; margin-left: 5px">Тип документа</span></h5>
            <select id="typeDocument" class="form-control" style="width: 30%">
                <th:block th:each="type : ${types}">
                    <option th:value="${type.getKey()}" th:text="${type.getValue()}"></option>
                </th:block>
            </select>
            <button id="loadButton" class="col-sm-2 btn btn-primary" type="button" style="margin-left: 5px; height: 50%">
                Загрузить
            </button>
        </div>

        <div style="text-align: right; width: 100%; margin: -5px">
            <label style="font-size: 0.8em; font-style: normal;">Форматирование XML
                <input id="formatXml" type="checkbox" style="vertical-align: -2px;">
            </label>
        </div>

        <div style="height: 100%">
            <div>
                <table id="calcLogTable" class="table-condensed table-bordered"
                       style="width:100%; font-size: 0.9em">
                    <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Тип документа</th>
<!--
                        <th>Номер документа</th>
                        <th>Станция</th>
-->
                        <th>ID / JMS CorrelationID</th>
                        <th>Дата расчета</th>
                        <th>Время обработки</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div id="logTabFolder" class="invisible">
                <div style="height: calc(40vh - 95px); margin-top: 50px">
                    <ul class="nav nav-tabs" style="width: 100%; align-content: center;">
                        <li class="active">
                            <a id="inXmlTab" data-toggle="tab" href="#inXmlTabItem"><i id="inXmlButton" class="fa fa-save" style="margin-right: 3px; padding: 3px 3px; cursor: pointer"></i>Входной XML</a>
                        </li>
                        <li>
                            <a id="outXmlTab" data-toggle="tab" href="#outXmlTabItem"><i id="outXmlButton" class="fa fa-save" style="margin-right: 3px; padding: 3px 3px; cursor: pointer"></i>Выходной XML</a>
                        </li>
                        <li>
                            <a id="outTextTab" data-toggle="tab" href="#outTextTabItem">Выходной текст</a>
                        </li>
                    </ul>

                    <div class="tab-content" style="height: 100%">
                        <div id="inXmlTabItem" class="tab-pane active" style="height: 100%; width: 100%">
                            <textarea id="inXml" class="form-control"
                                      style="height: 100%; font-size: 0.9em; font-family: monospace"></textarea>
                        </div>
                        <div id="outXmlTabItem" class="tab-pane" style="height: 100%; width: 100%">
                            <textarea id="outXml" class="form-control"
                                      style="height: 100%; font-size: 0.9em; font-family: monospace"></textarea>
                        </div>
                        <div id="outTextTabItem" class="tab-pane" style="height: 100%; width: 100%">
                            <textarea id="outText" class="form-control"
                                      style="height: 100%; font-size: 0.9em; font-family: monospace"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>