<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <script type="application/javascript">
        $(document).ready($(function () {

            var pollParams = {
                // alias для серверной задачи
                job: "mqlogger",
                // текстовый компонент для обновления лога
                text: "#logMq"
            };
            poll(pollParams);

        }));
    </script>

    <div class="display" style="height: calc(100vh - 165px)">

        <div class="page-header-name">MQ</div>

        <div class="row form-group" style="height: 100%; margin-top: -10px">
            <label for="logMq">Лог MQ</label>
            <textarea id="logMq" wrap="off" class="form-control"
                      style="height: 100%; font-size: 0.9em; font-family: monospace" readonly></textarea>
        </div>

    </div>
</div>

</body>

</html>