<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title></title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <script type="application/javascript">
        $(document).ready($(function () {

            var pollParams = {
                // alias для серверной задачи
                job: "mqlogger",
                // текстовый компонент для обновления лога
                text: "#logMq"
            };
            poll(pollParams);

        }));
    </script>

    <div class="page-header-name">MQ</div>

    <div>
        <div class="row form-group">
            <label for="logMq">Лог MQ</label>
            <textarea id="logMq" wrap="off" class="form-control" rows="5" style="height: 50vh; font-size: 0.9em; font-family: monospace" readonly></textarea>
        </div>
    </div>

</div>

</body>

</html>