<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">
    <script type="application/javascript">
        $(document).ready($(function () {

            $("#formUploadFile").submit(function (e) {
                var params = {
                    e: e,
                    button: "#buttonUpload",
                    filename: "#fileNameUpload",
                    progressBar: "#progressBar",
                    message: "#alertMsg",
                    type: "syncronizer_data"
                };

                params.pollParams = {
                    // alias для серверной задачи
                    job: "syncronizer",
                    // текстовый компонент для обновления лога
                    text: "#syncLog",
                    // progressBar
                    progressBar: "#progressBar2",
                    // кнопка для закрытия в процессе выполнения
                    button: "#buttonUpload"
                };

                upload(params);
            });

            var pollParams = {
                // alias для серверной задачи
                job: "syncronizer",
                // текстовый компонент для обновления лога
                text: "#syncLog",
                // progressBar
                progressBar: "#progressBar2",
                // кнопка для закрытия в процессе выполнения
                button: "#buttonUpload",
            };
            poll(pollParams);

        }));
    </script>

    <div class="display" style="height: calc(100vh - 190px)">

        <div class="page-header-name">Импорт тарифной политики</div>

        <div style="height: 100%">

            <form class="display form-group" style="width: 100%; margin-top: -10px" id="formUploadFile" enctype="multipart/form-data">
                <label>Файл *.csv для синхронизации</label>
                <div class="display" style="display: inline-flex; width: 100%">
                    <input id="fileNameUpload" class="form-control" style="flex-grow: 1" type="file" name="file" accept=".zip, application/zip">
                    <button id="buttonUpload" class="btn btn-primary" style="margin-left: 10px;" type="submit" value="Upload">Загрузить</button>
                </div>
            </form>

            <div class="progress" style="width: 100%">
                <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%
                </div>
            </div>

            <div style="height: calc(100% - 85px); margin-top: -10px">
                <div class="form-group" style="height: 100%; width: 100%">
                    <label for="syncLog">Лог синхронизации ТП</label>
                    <textarea id="syncLog" class="form-control"
                              style="height: calc(100% - 20px); font-size: 0.9em; font-family: monospace" readonly></textarea>
                </div>
                <div class="display" style="display: inline-flex; width: 100%">
                    <div class="progress" style="flex-grow: 1;">
                        <div id="progressBar2" class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                    </div>
                    <p class="text-right" style="margin-left: 10px; flex-grow: 0" th:text="${tpdate}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>