<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-float-label.css}">

    <script type="text/javascript" th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables-select/js/dataTables.select.min.js}"></script>

    <script type="application/javascript">
        $(document).ready($(function () {
            // сохранение выбранной вкладки
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeUsersTab', $(e.target).attr('href'));
            });

            // показ сохраненной вкладки
            var activeTab = localStorage.getItem('activeUsersTab');
            if(activeTab){
                $('#usersTab a[href="' + activeTab + '"]').tab('show');
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                var currentTab = $(e.target).attr("id");
                if (currentTab === "allTab") {
                    $('#allUsersTable').DataTable().columns.adjust().draw();
                } else if (currentTab === "activeTab") {
                    $('#activeUsersTable').DataTable().columns.adjust().draw();
                }
            });

            // $(".clickable-row").click(function(){
            //     if($(this).hasClass("success"))
            //         $(this).removeClass('success');
            //     else
            //         $(this).addClass('success').siblings().removeClass('success');
            // });

            var allUsersDatatable = $('#allUsersTable').DataTable({
                "order": [
                    [2, "asc"]
                ],
                dom: 't<"row col-sm-1 margin-top-sm"f>',
                style: 'single',
                select: { style: 'single'},
                "paging": false,
                "info": false,
                "searching": true,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "language" : {
                    "zeroRecords": " ",
                    "searchPlaceholder": "Поиск",
                    "search": "Поиск:"
                },
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    },
                    {
                        targets:   -1,
                        render: function ( data, type, row ) {
                            if ( type === 'display' ) {
                                return '<div style="display: flex; max-width: 350px; width: 100%; height: 100%; vertical-align: center">' +
                                    '<span style="flex-grow: 1; align-self: center;">' + (data === null ? "" : data) + '</span>'+
                                    '<a id="userEdit" class="invisible btn-success btn-sm" style="align-self: center; margin-right: 3px; padding: 1px 4px; cursor: pointer"><i class="fa fa-edit"></i></a>' +
                                    '<a id="userDelete" class="invisible btn-danger btn-sm" style="align-self: center; padding: 1px 5px; cursor: pointer"><i class="fa fa-trash"></i></a>' +
                                    '</div>';
                            }
                            return data;
                        }
                    },
                    {
                        targets:   [1, 2, 3, 4],
                        render: function ( data, type, row ) {
                            if ( type === 'display' ) {
                                return '<span class="text-nowrap">' + (data === null ? "" : data) + '</span>';
                            }
                            return data;
                        }
                    }
                ],
                rowId: "id",
                columns: [
                    { "data": "id" },
                    { "data": "login"},
                    { "data": "fio" },
                    { "data": "position" },
                    { "data": "authoritiesString" },
                    { "data": "loggedInDate" }
                ]

            });

            var activeUsersDatatable = $('#activeUsersTable').DataTable({
                "order": [
                    [ 2, "desc" ]
                ],
                "paging": false,
                "info": false,
                "searching": false,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "language": {
                    "emptyTable": "",
                    "zeroRecords": ""
                },
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }
                ]
            });

            addCounterToDataTable(allUsersDatatable);
            addCounterToDataTable(activeUsersDatatable);

            addDataTableRowListener(allUsersDatatable,
                {
                    "userEdit" : function(tr) {
                        var row = allUsersDatatable.row(tr);
                        //var id = tr.data('id');
                        var id = row.id();

                        if (id === undefined) return;

                        console.log("Редактирование пользователя с id=" + id);

                        $("#userEditor").load(
                            contextRoot + "admin/user/" + id + "/editor"
                        );
                    },
                    "userDelete" : function(tr) {
                        var row = allUsersDatatable.row(tr);
                        //var id = tr.data('id');
                        var id = row.id();

                        if (id === undefined) return;

                        showYesNoModal("Удалить пользователя " + row.data().fio + "?",
                            function() {
                                console.log("Удаление пользователя с id=" + id);

                                $.ajax({
                                    url: contextRoot + "api/user/" + id,
                                    type: "DELETE",
                                    cache: false,
                                    success: function (msg) {
                                        if (msg === true) {
                                            row.remove().draw();
                                        } else {
                                            console.log("no data reloading needed");
                                        }
                                    }
                                });
                            },
                            function() {
                                console.log("Отмена удаления пользователя с id=" + id);
                            }
                        );
                    }
                }
            );

            $("#userCreate").click(function (e) {
                $("#userEditor").load(
                    contextRoot + "admin/user/0/editor"
                );
                e.preventDefault();
                //e.stopPropagation();
            });

            window.UserData = {
                allUsersDataTable: allUsersDatatable
            };

            allUsersDatatable.reloadTable = function(id) {
                // $("#all").load(
                //     contextRoot + "admin/users/all", function() {
                //         allUsersDatatable.draw();
                //         allUsersDatatable.selectRow(id);
                //     }
                // );
                $.ajax({
                    url: contextRoot + "api/users",
                    type: "get",
                    cache: false,
                    success: function (data) {
                        allUsersDatatable.rows().clear();
                        allUsersDatatable.rows.add(data).draw();
                        allUsersDatatable.selectRow(id);
                    }
                });
            };

            allUsersDatatable.selectRow = function(id) {
                this.row("#" + id).select();
                var rowElement = $('#allUsersTable').find("[id=" + id + "]").get(0);
                if (rowElement !== undefined) {
                    rowElement.scrollIntoViewIfNeeded();
                }
            };

            allUsersDatatable.reloadTable();

        }));
    </script>

    <div class="page-header-name">Пользователи</div>

    <ul id="usersTab" class="row nav nav-tabs">
        <li class="active">
            <a id="activeTab" data-toggle="tab" href="#active">Активные</a>
        </li>
        <li>
            <a id="allTab" data-toggle="tab" href="#all">Все</a>
        </li>
    </ul>

    <div class="tab-content row">
        <div id="active" class="tab-pane active">
            <th:block th:replace="fragments/users :: activeusers"/>
        </div>

        <div id="all" class="tab-pane">
            <th:block th:replace="fragments/users :: allusers"/>
        </div>

    </div>

    <div id="userEditor">
    </div>

</div>
</body>

</html>