<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-float-label.css}">

    <script type="text/javascript" th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables-plugins/sorting/datetime-moment.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables-select/js/dataTables.select.min.js}"></script>

    <script type="application/javascript">
        $(document).ready($(function () {
            // сохранение выбранной вкладки
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeUsersTab', $(e.target).attr('href'));
            });

            var reloadTables = function (currentTab) {
                if (currentTab === "allTab") {
                    allUsersDatatable.reloadTable();
                    $('#allUsersTable').DataTable().columns.adjust().draw();
                } else if (currentTab === "activeTab") {
                    activeUsersDatatable.reloadTable();
                    $('#activeUsersTable').DataTable().columns.adjust().draw();
                }
            };

            $('a[data-toggle="tab"]').on('click', function (e) {
                $('#usersTab a[href="' + $(e.target).attr("href") + '"]').tab('show');
                reloadTables($(e.target).attr("id"));
            });

            $.fn.dataTable.moment( 'DD.MM.YYYY HH:mm:ss' );

            var allUsersDatatable = $('#allUsersTable').DataTable({
                "order": [
                    [2, "asc"]
                ],
                dom: 't<"row col-sm-1 margin-top-sm"f>',
                style: 'single',
                select: {style: 'single'},
                "paging": false,
                "info": false,
                "searching": true,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "language": {
                    "zeroRecords": " ",
                    "searchPlaceholder": "Поиск",
                    "search": "Поиск:"
                },
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    },
                    {
                        targets: -1,
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<div style="display: flex; max-width: 350px; width: 100%; height: 100%; vertical-align: center">' +
                                    '<span style="flex-grow: 1; align-self: center;">' + (data === null ? "" : data) + '</span>' +
                                    '<a id="userEdit" class="invisible btn-success btn-sm" style="align-self: center; margin-right: 3px; padding: 1px 4px; cursor: pointer"><i class="fa fa-edit"></i></a>' +
                                    '<a id="userDelete" class="invisible btn-danger btn-sm" style="align-self: center; padding: 1px 5px; cursor: pointer"><i class="fa fa-trash"></i></a>' +
                                    '</div>';
                            }
                            return data;
                        }
                    },
                    {
                        targets: [1, 2, 3, 4],
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<span class="text-nowrap">' + (data === null ? "" : data) + '</span>';
                            }
                            return data;
                        }
                    }
                ],
                rowId: "id",
                columns: [
                    {"data": "id"},
                    {"data": "login"},
                    {"data": "fio"},
                    {"data": "position"},
                    {"data": "authoritiesString"},
                    {"data": "loggedInDate"}
                ]

            });

            var activeUsersDatatable = $('#activeUsersTable').DataTable({
                "order": [
                    [2, "desc"]
                ],
                "paging": false,
                "info": false,
                "searching": false,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "language": {
                    "emptyTable": "",
                    "zeroRecords": ""
                },
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }
                ],
                rowId: "id",
                columns: [
                    {"data": "id"},
                    {"data": "login"},
                    {"data": "fio"},
                    {"data": "position"},
                    {"data": "loggedInDate"}
                ]
            });

            addCounterToDataTable(allUsersDatatable);
            addCounterToDataTable(activeUsersDatatable);

            addDataTableRowListener(allUsersDatatable,
                {
                    "userEdit": function (tr) {
                        var row = allUsersDatatable.row(tr);
                        //var id = tr.data('id');
                        var id = row.id();

                        if (id === undefined) return;

                        console.log("Редактирование пользователя с id=" + id);

                        $("#userEditor").load(
                            contextRoot + "admin/user/" + id + "/editor"
                        );
                    },
                    "userDelete": function (tr) {
                        var row = allUsersDatatable.row(tr);
                        //var id = tr.data('id');
                        var id = row.id();

                        if (id === undefined) return;

                        showYesNoModal("Удалить пользователя " + row.data().fio + "?",
                            function () {
                                console.log("Удаление пользователя с id=" + id);

                                $.ajax({
                                    url: contextRoot + "api/user/" + id,
                                    type: "DELETE",
                                    cache: false,
                                    success: function (msg) {
                                        if (msg === true) {
                                            row.remove().draw();
                                        } else {
                                            console.log("no data reloading needed");
                                        }
                                    }
                                });
                            },
                            function () {
                                console.log("Отмена удаления пользователя с id=" + id);
                            }
                        );
                    }
                }
            );

            $("#userCreate").click(function (e) {
                $("#userEditor").load(
                    contextRoot + "admin/user/0/editor"
                );
                e.preventDefault();
                //e.stopPropagation();
            });

            window.UserData = {
                allUsersDataTable: allUsersDatatable
            };

            allUsersDatatable.reloadTable = function (id) {
                // $("#all").load(
                //     contextRoot + "admin/users/all", function() {
                //         allUsersDatatable.draw();
                //         allUsersDatatable.selectRow(id);
                //     }
                // );
                $.ajax({
                    url: contextRoot + "api/users",
                    type: "get",
                    cache: false,
                    success: function (data) {
                        allUsersDatatable.rows().clear();
                        allUsersDatatable.rows.add(data).draw();
                        allUsersDatatable.selectRow(id);
                    }
                });
            };

            activeUsersDatatable.reloadTable = function (id) {
                $.ajax({
                    url: contextRoot + "api/users",
                    type: "get",
                    data: {
                        active: true
                    },
                    cache: false,
                    success: function (data) {
                        activeUsersDatatable.rows().clear();
                        activeUsersDatatable.rows.add(data).draw();
                        activeUsersDatatable.selectRow(id);
                    }
                });
            };

            allUsersDatatable.selectRow = function (id) {
                this.row("#" + id).select();
                var rowElement = $('#allUsersTable').find("[id=" + id + "]").get(0);
                if (rowElement !== undefined) {
                    rowElement.scrollIntoViewIfNeeded();
                }
            };

            activeUsersDatatable.selectRow = function (id) {
                this.row("#" + id).select();
                var rowElement = $('#activeUsersDatatable').find("[id=" + id + "]").get(0);
                if (rowElement !== undefined) {
                    rowElement.scrollIntoViewIfNeeded();
                }
            };

            //activeUsersDatatable.reloadTable();
            //allUsersDatatable.reloadTable();

            // показ сохраненной вкладки
            $('#usersTab a[href="' + (localStorage.getItem('activeUsersTab') === "#all" ? "#all" : "#active") + '"]').trigger('click');

        }));
    </script>

    <div class="page-header-name">Пользователи</div>

    <ul id="usersTab" class="row nav nav-tabs">
        <li class="active">
            <a id="activeTab" data-toggle="tab" href="#active">Активные</a>
        </li>
        <li>
            <a id="allTab" data-toggle="tab" href="#all">Все</a>
        </li>
    </ul>

    <div class="tab-content row">
        <div id="active" class="tab-pane active">
            <table id="activeUsersTable" class="table-condensed table-bordered text-nowrap">
                <thead>
                <tr>
                    <th class="text-left" scope="col" style="width: 10%">№ п/п</th>
                    <th class="text-left" scope="col" style="width: 15%">Логин</th>
                    <th class="text-left" scope="col" style="width: 30%">ФИО</th>
                    <th class="text-left" scope="col" style="width: 30%">Должность</th>
                    <th class="text-left" scope="col" style="width: 15%">Дата входа в систему</th>
                </tr>
                </thead>
            </table>
        </div>

        <div id="all" class="tab-pane">
            <table id="allUsersTable" class="table-condensed table-bordered text-nowrap">
                <thead>
                <tr>
                    <th class="text-nowrap" style="width: 10%">
                        <!--                № п/п-->
                        <div style="display: flex; width: 100%; height: 100%">
                            <a id="userCreate" class="btn-success btn-sm"
                               style="align-self: center; margin-right: 3px; padding: 1px 5px; cursor: pointer"><i
                                    class="fa fa-plus"></i></a>
                            <span class="text-nowrap" style="flex-grow: 1; align-self: center;">№ п/п</span>
                        </div>
                    </th>
                    <th style="width: 10%">Логин</th>
                    <th style="width: 16%">ФИО</th>
                    <th style="width: 22%">Должность</th>
                    <th style="width: 22%">Роль</th>
                    <th style="width: 20%">Последняя дата входа в систему</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>

    <div id="userEditor">
    </div>

</div>
</body>

</html>