<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title></title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <script type="text/javascript" th:src="@{/js/filesaver.js}"></script>

    <script type="application/javascript">
        $(document).ready($(function () {

            var filename;

            $("#calcButton").click(function (e) {

                e.preventDefault();

                var button = "#calcButton";

                if ($(button).prop("disabled")) {
                    return;
                }

                $(button).button('loading');

                //Disable submit button
                $(button).prop("disabled", true);

                $.ajax({
                    url: contextRoot + "api/calcdata",
                    type: "POST",
                    contentType: "application/xml",
                    data: $("#calcData").val(),
                    cache: false,
                    success: function (msg) {
                        filename = msg.calculationLog.fileName;
                        $("#calcResultText").text(msg.textResult);
                        $("#calcResultXml").text(msg.outputXml);
                    },
                    complete: function(msg) {
                        $(button).prop("disabled", false);
                        $(button).button('reset');
                    }
                });

            });

            $("#calcResultText").contextmenu(function (e) {
                $(this).text("");
                e.preventDefault();
            });

            $("#calcResultXml").contextmenu(function (e) {
                $(this).text("");
                e.preventDefault();
            });

            $("#uploadButton").click(function (e) {
                $("#calcData").val("");
                $("#xmlFileName").text("");
                $(this).blur();
                $("#xmlButton").click();
            });

            $("#xmlButton").change(function (e) {
                var file = e.target.files[0];
                if (file.type !== "text/xml") {
                    return;
                }
                $("#xmlFileName").text(file.name);
                var reader = new FileReader();
                reader.addEventListener('load', function (ev) {
                    $("#calcData").val(ev.target.result);
                });
                reader.readAsText(file);
                $("#xmlButton").val("");
            })

            $("#outXmlButton").click(function (e) {
                debugger;

                var data = $("#calcResultXml").val();
                if (filename === undefined || data === "") {
                    return;
                }
                saveAs(new Blob([data], { type: 'text/plain' }), filename + "_out.xml");

                e.stopPropagation();
            });
        }));
    </script>

    <div class="display" style="height: calc(100vh - 190px)">

        <div class="page-header-name">Расчет</div>

        <div style="height: 100%">
            <div class="form-group" style="height: 50%; width: 100%;">
                <input id="xmlButton" type="file" accept=".xml, text/xml" style="display: none;">
                <div style="display: inline-flex; align-items: center; width: 100%">
                    <label for="calcData">XML данные</label>
                    <div id="xmlFileName" style="flex-grow: 1; height: auto; font-style: initial; font-size:0.75em; text-align: right"></div>
                    <div style="width: 10px"></div>
                    <button id="uploadButton" class="btn btn-default btn-outline" style="border: none"><i class="fa fa-file"></i></button>
                </div>
                <textarea id="calcData" class="form-control"
                          style="height: calc(100% - 60px); margin-bottom: 10px; font-size: 0.9em; font-family: monospace"></textarea>
                <button id="calcButton" class="col-sm-offset-10 col-sm-2 btn btn-primary" type="button"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> Расчет">
                    Расчет
                </button>
            </div>

<!--            <div class="row form-group" style="height: 50%">-->
<!--                <label for="calcResult">Результат</label>-->
<!--                <textarea id="calcResult" class="form-control"-->
<!--                          style="height: 100%; font-size: 0.9em; font-family: monospace" readonly></textarea>-->
<!--            </div>-->

            <div id="tabCalcResult" style="width: 100%">
                <div style="height: calc(45vh - 75px)">
                    <ul class="nav nav-tabs" style="width: 100%; align-content: center;">
                        <li class="active">
                            <a id="calcResultTextTab" data-toggle="tab" href="#calcResultTextItem">Выходной текст</a>
                        </li>
                        <li>
                            <a id="calcResultXmlTab" data-toggle="tab" href="#calcResultXmlItem"><i id="outXmlButton" class="fa fa-save" style="margin-right: 3px; padding: 3px 3px; cursor: pointer"></i>Выходной XML</a>
                        </li>
                    </ul>

                    <div class="tab-content" style="height: 100%">
                        <div id="calcResultTextItem" class="tab-pane active" style="height: 100%; width: 100%">
                            <textarea id="calcResultText" class="form-control"
                                      style="height: 100%; font-size: 0.9em; font-family: monospace" readonly></textarea>
                        </div>
                        <div id="calcResultXmlItem" class="tab-pane" style="height: 100%; width: 100%">
                            <textarea id="calcResultXml" class="form-control"
                                      style="height: 100%; font-size: 0.9em; font-family: monospace" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--
        <p class="text-left"><a href="javascript:javascript:history.go(-1)" >Вернуться</a></p>
    -->
    </div>
</div>

</body>

</html>