<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">

    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '';
    </script>

    <script sec:authorize="isAuthenticated()">
        var token = "[[${#authentication.getPrincipal().getToken()}]]";

        localStorage.setItem('jwtToken', token);

        $.ajaxSetup({
            headers: { 'Authorization': localStorage.getItem('jwtToken')}
        });
    </script>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" style="padding: 8px">
                    <img th:src="@{/img/logo.png}" height="32px" style="padding: 0; width: auto"/>
                </a>
            </div>

<!--/*
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" style="padding: 0">
                    <img th:src="@{/img/logo-ktc.png}" height="48px" style="padding: 0; width: auto"/>
                </a>
            </div>
*/-->

            <div id="navbar" class="navbar-collapse collapse">

                <div sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"
                     th:replace="fragments/navbar :: admin"></div>

                <div sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')"
                     th:replace="fragments/navbar :: user"></div>


                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-link text-white" sec:authorize="isAuthenticated()">
                        <a th:if="${#authentication.getPrincipal() instanceof T(gbas.gtbch.sapod.model.users.User)}" th:text="${#authentication.getPrincipal().getPosition() + ' ' + #authentication.getPrincipal().getFio()}"></a>
                    </li>

                    <li class="nav-link text-white" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Выход</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>