<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="admin">

    <ul class="nav navbar-nav">
        <!--
                <li class="active"><a th:href="@{/admin}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
        -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Система<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/admin/users}">Пользователи</a></li>
                <li><a th:href="@{/user/info}">О системе</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Взаимодействие<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/admin/sync}">Импорт ТП и НСИ</a></li>
                <li><a th:href="@{/admin/pensi}">ПЭ НСИ</a></li>
                <li><a th:href="@{/admin/nbrb}">Курсы валют</a></li>
                <li><a th:href="@{/admin/mq}">MQ</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Тест<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/user/calc}">Расчет</a></li>
            </ul>
        </li>
    </ul>

</th:block>

<th:block th:fragment="user">

    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Система<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/user/info}">О системе</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Тест<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/user/calc}">Расчет</a></li>
            </ul>
        </li>

    </ul>

</th:block>

</body>
</html>