h1 {
    color: #78ab46;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.row.row-gutter {
    margin-bottom: -15px;
    overflow: hidden;
}
.row.row-gutter > *[class^="col"] {
    margin-bottom: 15px;
}

.row.row-margins {
    padding-top: 7px; /* or margin-top: 7px; */
    padding-bottom: 7px; /* or margin-bottom: 7px; */
}
.row.row-margins > *[class^="col"] {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-grow: 0;
    padding: 15px 0;
    display: block;
    background-color: #ccc
}
*/

.dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}

a.disabled, 
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {  
  color: #999 ;
  cursor: default;
}

.side{
    position:fixed;
    top:75px;
    left:auto;
    height:100%;
    padding:2px;
}

.scroll-area{
    width:100%;
    height:calc(100% - 150px);
    margin-top:0px;
    float:left;
    overflow-y:scroll;
}

.page-header-name {
    margin-bottom: 6px;
    font-size: 1.1em;
    font-weight: bold;
    //color: gray;
    text-align: center;
}

/*
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
*/

.margin-top-sm { margin-top: .5em; }

.table-condensed-2 > thead > tr > th,
.table-condensed-2 > tbody > tr > th,
.table-condensed-2 > tfoot > tr > th,
.table-condensed-2 > thead > tr > td,
.table-condensed-2 > tbody > tr > td,
.table-condensed-2 > tfoot > tr > td {
    padding: 2px;
}

/* modal on modal */

/*
.modal + .modal {
    z-index: 1060;
}

.modal-backdrop + .modal-backdrop {
    z-index: 1050;
}
*/

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

/* show dropdown over table*/
.dropdown-menu {
    overflow: overlay !important;
    overflow-x: overlay !important;
    overflow-y: overlay !important;
}
.dataTables_scrollHead {
    position: relative;
    width: 100%;
    overflow: initial !important;
    overflow-x: initial !important;
    overflow-y: initial !important;
    min-height: 0
}