<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <link rel="stylesheet" type="text/css" th:href="@{/css/flag-icons.css}"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables-select/css/select.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables-select/js/dataTables.select.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ru.js}"></script>

    <script th:inline="javascript">
        $(document).ready($(function () {

            var reloadTables = function (currentTab) {
                if (currentTab === "currencyRateTab") {
                    loadCurrencyRateTable();
                    $('#exchangeRateTable').DataTable().columns.adjust().draw();
                } else if (currentTab === "rateRecalcTab") {
                    loadRecalcRateTable();
                    $('#recalcRateTable').DataTable().columns.adjust().draw();
                }
            };

            $('a[data-toggle="tab"]').on('click', function (e) {
                $('#usersTab a[href="' + $(e.target).attr("href") + '"]').tab('show');
                reloadTables($(e.target).attr("id"));
            });

            function loadCurrencyRateTable(mnemo) {
                var data = {};
                data.date = $("#date_text").val();

                $("#exchangeRateFragment").load(
                    "./currency/rates",
                    $.param(data),
                    function() {
                        if (mnemo !== undefined) {
                            $('#exchangeRateTable').DataTable().row("[data-mnemo='" + mnemo + "']").select();
                        }
                    }
                );
            }

            function loadRecalcRateTable(id) {
                var data = {};

                $("#rateRecalcFragment").load(
                    "./currency/recalcrates",
                    $.param(data),
                    function() {
                        if (id !== undefined) {
                            $('#recalcRateTable').DataTable().row("[data-id='" + id + "']").select();
                        }
                    }
                );
            }

            var currentDate = new Date();

            $("#date").datetimepicker({
                todayHighlight: true,
                format: "dd.mm.yyyy",
                language: 'ru',
                minView: 2,
                autoclose: true,
                weekStart: 1
            });

            $("#date").datetimepicker('setDate', currentDate);

            $("#date").datetimepicker()
                .on('changeDate', function(e) {
                    loadCurrencyRateTable();
                });

            loadCurrencyRateTable();

            window.CurrencyData = {
                loadCurrencyRateTable : loadCurrencyRateTable,
                loadRecalcRateTable : loadRecalcRateTable
            };
        }));
    </script>

    <div class="page-header-name">Курс валют</div>

    <div id="currencyTabFolder">
        <div style="height: calc(85vh - 95px); margin-top: 0px">
            <ul class="nav nav-tabs" style="width: 100%; align-content: center;">
                <li class="active">
                    <a id="currencyRateTab" data-toggle="tab" href="#currencyRateTabItem">Курсы НБ РБ</a>
                </li>
                <li>
                    <a id="rateRecalcTab" data-toggle="tab" href="#rateRecalcTabItem">Курс пересчета</a>
                </li>
            </ul>

            <div class="tab-content" style="height: 100%">
                <div id="currencyRateTabItem" class="tab-pane active" style="height: 100%; width: 100%; margin-top: 10px">
                    <div style="display: inline-flex;">
                        <h5><span class="text-nowrap" style="margin-right: 5px">Курсы валют НБ РБ, действующие на дату</span></h5>
                        <div class="form-group" style="flex-grow: 1">
                            <div id="date" class="input-group date">
                                <input id="date_text" type="text" class="form-control"/>
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="exchangeRateFragment">
                    </div>
                </div>
                <div id="rateRecalcTabItem" class="tab-pane" style="height: 100%; width: 100%">
                    <div id="rateRecalcFragment">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>